@reference "tailwindcss";

.root {
  @apply min-h-[20rem] lg:min-h-[30rem] overflow-hidden relative flex items-end justify-center pb-20;
}

.image {
  @apply absolute top-0 left-0 w-full h-full object-cover object-center;
}

.overlay {
  @apply absolute top-0 left-0 w-full h-full z-[1];
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
}

.cont {
  @apply container h-full mx-auto px-4 relative z-[2];
}

.title {
  @apply text-white text-3xl md:text-5xl font-bold text-center mb-8 block;
}

.description {
  @apply text-white text-center max-w-3xl mx-auto text-lg md:text-xl block;
}  
